.footer {
    height: 216px;
    display: flex;
    margin-bottom: 0;
}

.footer__left--wrap .img__decription--wrap {
    height: 216px;
    width: 250px;
    border-radius: 0px;

    object-fit: cover;
    position: absolute;
    : url("./image/Picture/Lhouse.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.footer__left--wrap {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 216px;
    width: 620px;
    left: 1px;
    top: 0px;
    border-radius: 0px;
}

.footer__contact--wrap {
    height: 147px;
    width: 223px;
    left: 199px;
    top: 34px;
    border-radius: [object Object]px;
    margin-left: 198px;
    margin-top: 34px;
    margin-bottom: 34px;
    color: white;
}

.footer__contact--wrap h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 8px;
}

.footer__contact--wrap h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 4px;

}

.footer__contact--wrap p {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 4px;
}

.footer__contact--wrap a img {
    position: relative;
    height: 28px;
    width: 28px;
    left: 0px;
    top: 0px;
    border-radius: 41px;
    object-fit: cover;
    margin-left: 16.56px;
    margin-top: 8px;
    z-index: 1;
}

.footer__contact--wrap td a {
    margin-top: 12, 56px;
    cursor: pointer;
}

.img__right--wrap {
    height: 216px;
    width: 250px;
    border-radius: 0px;

    object-fit: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    right: 0;
}

.footer__right--wrap {
    position: absolute;
    width: 620px;
    height: 216px;
    margin-left: 1300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer__right--wrap .right__contact--wrap {
    display: flex;
    flex-direction: column;
    margin-left: 38px;
    margin-top: 50px;
    padding: 13px 24px;
}

.footer__right--wrap .right__contact--wrap a {
    margin-bottom: 25px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.footer__middle--wrap {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 25px;

}

.footer__middle--wrap .btn__wrap--footer {
    display: flex;
    flex-direction: column;
}

.footer__middle--wrap .btn__wrap--footer button {
    background: rgba(51, 122, 177, 1);
    height: 48px;
    width: 247px;
    border-radius: 2px;
    padding: 13px 24px;
    text-align: center;
    margin-bottom: 24px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    position: relative;
    border: none;
    cursor: pointer;
}

.footer__middle--wrap .btn__wrap--footer button img {
    height: 17.5px;
    width: 17.5px;
    left: 85px;
    top: 15.25px;
    border-radius: 0px;
    position: absolute;
}

.footer__middle--wrap .train__footer--contact {
    display: flex;
    flex-direction: column;
}

.footer__middle--wrap .logo__footer--img img {
    width: 126px;
    height: 58;
    margin-left: 80px;
}

.footer__middle--wrap .train__footer--contact {
    margin-left: 56px;
}

.footer__middle--wrap .train__footer--contact a {
    padding: 13px 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: rgba(128, 128, 128, 1);


}